body {
	margin: 0;
	font-size: small;
}


/*   NAV BAR     */


#nav-text {
	font-family: arial, sans-serif;
}

.nav-bar {
	border:none;
	height:30px;
	position: relative;
	top: 15px;
}

.sign-in {
  border:none;
  position: absolute;
  text-align:center;
  width: 70px;
  height:30px;
  right:30px;  
  top:0;
  line-height:30px;
  background-color:#4386FB;
  color: #FFF;
  border-radius: 2px; 
}

.sign-in:hover {
	cursor:default;
}

.app-box {
  border:none;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 116px;
  top: 1px;
}

.app-box:hover {
	cursor:default;
}

.top-row {
  border: none;
  height: 6px;
  width: 30px;
  position: absolute;
  left: 0px;
  top: 5px;
}

.middle-row {
  border: none;
  height: 6px;
  width: 30px;
  position: absolute;
  left: 0px;
  top: 11px;
}

.bottom-row {
  border: none;
  height: 6px;
  width: 30px;
  position: absolute;
  left: 0px;
  top: 17px;
}

 /*    TOP ROW    */

.tl {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  left: 7px;
}

.tr {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  right: 7px;
}

.tm {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: relative;
  top: 1px;
  margin: auto
}


/*middle row*/

.ml {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  left: 7px;
}

.mr {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  right: 7px;
}

.mm {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: relative;
  top: 1px;
  margin: auto
}



/*   Bottom row    */

.bl {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  left: 7px;
}

.br {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 1px;
  right: 7px;
}

.bm {
  background-color: #737373;
  border: 1px solid rgba(115, 115, 115, 0.5);
  border-radius:1px;
  height: 2px;
  width: 2px;
  position: relative;
  top: 1px;
  margin: auto
}

.images {
  border:none;
  height: 30px;
  width: 70px;
  text-align:center;
  position:absolute;
  line-height:30px;
  right:150px;
  top:0;
  color:rgba(115, 115, 115, 0.75);
}

.images:hover {
	color:rgba(38, 38, 38, 0.75);
	text-decoration:underline;

}

.gmail {
  border:none;
  height: 30px;
  width: 70px;
  text-align:center;
  position:absolute;
  line-height:30px;
  right:205px;
  top:0;
  color:rgba(115, 115, 115, 0.75);
}

.gmail:hover {
	color:rgba(38, 38, 38, 0.75);
	text-decoration:underline;
}

/*  Google Logo   */

.google-logo {
  border:none;
  height:100px;
  width:100%;
  position:relative;
  top:160px;
}

.google {
  border:none;
  width:270px;
  height:90px;
  margin: 0 auto;
  position:relative;
  top:5px
}

.uk {
  font-family:arial, sans-serif;
  font-size: medium;
  color:#4285f4;
  border:none;
  width:30px;
  height:16px;
  text-align:center;
  position:relative;
  margin:0 auto;
  bottom:20px;
  left:90px
}


/*   Search Bar   */

.search-bar {
  border: none;
  height: 38px;
  width: 100%;
  position:relative;
  top:40px;
  right:10px;
}

.form-wrap {
  border:1px solid #D9D9D9;
  border-right:none;
  height: 38px;
  width: 543px;
  position: relative;
  margin: 0 auto;
}

.mic {
  border: 1px solid #D9D9D9;
  border-left:none;
  height: 38px;
  width:38px;
  position:relative;
  top:-33px;
  margin: 0 auto;
  left: 291px    
}

#mic {
  height:60%;
  width:60%;
  display: block;
  margin: 0 auto;
  position:relative;
  top: 8px
}


/*   FORM    */

.search-box {
  position: relative;
  border:none;
  margin: 2px;
  margin-left: 10px;
  height: 26px;
  width: 525px;
  font-size: 1.2em;
  outline: 0;
  top: 2px;
}

/*   Buttons      */

.buttons {
  border:none;
  position: relative;
  top:72px;
}

.google-search {
  border: none;
  height: 38px;
  width: 126px;
  position: relative;
  left: 500px;
  display: inline-block;
    
}

.gs {
  height: 38px;
  width: 126px;
  background-color: #F2F2F2;
  color: #757575;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 0.9em;
  outline: 0;
}

.gs:hover {
  background-color: #f1f1f1;
  border: 1px solid rgba(117, 117, 117, 0.3);
  color: #222;
}

.feeling-lucky {
  border: none;
  height: 38px;
  width: 142px;
  position: relative;
  right: -505px;
  display:inline-block;
    
}

.ifl {
  height: 38px;
  width: 142px;
  background-color: #F2F2F2;
  color: #757575;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 0.9em;
  outline: 0;
}

.ifl:hover {
  background-color: #f1f1f1;
  border: 1px solid rgba(117, 117, 117, 0.3);
  color: #222;
}

/*   FOOTER    */

.footer {
  border-right:none;
  border-left: none;
  border-bottom:none;
  border-top: 1px solid #E4E4E4;
  height: 40px;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: small;
  position: fixed;
  bottom: 0;
  background-color:#F2F2F2;
}


/*   Left   */

.advertising {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  left: 17px;
}

.advertising:hover {
	text-decoration:underline;
	cursor:default;
}

.business {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  left: 106px;
}

.business:hover {
	text-decoration:underline;
	cursor:default;
}

.about {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  left: 180px;
}

.about:hover {
	text-decoration:underline;
	cursor:default;
}


/* Right */

.settings {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  right: 10px;
}

.settings:hover {
	text-decoration:underline;
	cursor:default;
}

.terms {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  right: 82px;
}

.terms:hover {
	text-decoration:underline;
	cursor:default;
}

.privacy {
  border: none;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #66666A;
  position: absolute;
  right: 151px;
}

.privacy {
	text-decoration:underline;
	cursor:default;
}